
.raceButtons{
    display: inline-block;
    margin: 2rem;
}
.button {
    display: inline-block;
    padding: 13px 23px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  .go1{
    background-color: #1f2122;

  }
  .go2{
    background-color: #5271ff;
  }
  
  .go1:hover {background-color: #31373e;}

  .go2:hover {background-color: #2c8ffa;}
  
  .button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .mover1 {
    transition: all .5s ease-in-out;
    transform: translateX(250px);
  }

  .mover2 {
    transition: all .5s ease-in-out;
    transform: translateX(250px);
  }